header{
    text-align: center;
    margin: 5% 0 0 0;
}

#counter > div{
    display: inline-block;
    margin: 5%;
}

.element{
    font-size: 24px;
}

@media only screen and (max-width: 600px) {
    #counter > div{
        display: block;
    }

    .element{
        font-size: 24px;
    }
  }

