@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,400&display=swap');


*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

/* body{
    background-image: url("https://images.unsplash.com/photo-1517299321609-52687d1bc55a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
} */

